<h1 class="page-header">Fields</h1>
<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="#/forms">Forms</a></li>
    <li role="presentation" class="active"><a href="#">Fields</a></li>
</ul>
<form class="form-horizontal"><br>
    <div class="form-group">
        <label class="col-xs-11" for="firstName">First Name:</label>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-remove"></span>
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="glyphicon glyphicon-tasks"></span><br>
        <input id="firstName" class="form-control" type="text" placeholder="First Name"/>
    </div>
    <div class="form-group">
        <label class="col-xs-11" for="lasttName">Last Name:</label>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-remove"></span>
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="glyphicon glyphicon-tasks"></span><br>
        <input id="lasttName" class="form-control" type="text" placeholder="Last Name"/>
    </div>
    <div class="form-group">
        <label class="col-xs-11" for="dateOfBirth">Date of Birth:</label>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-remove"></span>
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="glyphicon glyphicon-tasks"></span><br>
        <input id="dateOfBirth" class="form-control" type="date" placeholder="Select a Date"/>
    </div>
    <div class="form-group">
        <label class="col-xs-11">Gender:</label>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-remove"></span>
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="glyphicon glyphicon-tasks"></span>
    </div>
    <div>
        <select name="select">
            <option value="male" selected> Male </option>
            <option value="female">Female</option>
        </select>
    </div><br>

    <div class="form-group">
        <label class="col-xs-11">Roles:</label><br>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-remove"></span>
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="glyphicon glyphicon-tasks"></span><br>
        <label><input type="checkbox"> Admin</label><br>
        <label><input type="checkbox"> Student</label><br>
        <label><input type="checkbox"> User</label><br>
    </div>
    <div class="form-group">
        <label class="col-xs-11">License Agreement :</label><br>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-remove"></span>
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="glyphicon glyphicon-tasks"></span><br>
        <label class="btn **active**">
            <input type="radio" value="Yes">
               Yes
        </label><br>
        <label class="btn">
             <input type="radio" value="No">
                No
        </label><br>
    </div>
    <div class="form-group">
        <label  class="col-xs-11">Add New Fields :</label><br>
         <span class="glyphicon glyphicon-plus"></span>
         <span class="glyphicon glyphicon-remove"></span>
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="glyphicon glyphicon-tasks"></span><br>

        <select name="select">
            <option value="singleline" selected> Single Line Text </option>
            <option value="date"> Date </option>
            <option value="dropdown"> Dropdown </option>
            <option value="checkboxes"> Checkboxes </option>
            <option value="radio"> Radio Buttons </option>
            <option value="paratext"> Paragraph Text Fields </option>
        </select>
    </div>
</form>
