<div class="customBG" ng-controller="AppointmentBookingController">
    <div class="container">
        <h1 class="page-header">Schedule an Appointment</h1>
        <div class="row">
            <div class="col-xs">
                <p>Select Stylist/Professional</p>
            </div>
            <div class="col-xs-9">
                <select name="professional" class="form-control" ng-model="currentProfessionalJSON">
                    <option ng-repeat="professional in professionals" value="{{professional}}">
                        {{professional.username}}
                    </option>
                </select>
            </div>
            <div class="col-xs-9">
                <label>Services Offered</label>
                <select name="service" class="form-control" ng-model="currentService">
                    <option ng-repeat="service in currentProfessional.services" value="{{service}}">{{service}}</option>
                </select>
            </div>
            <div class="col-xs-12">
                <p>Select Time</p>
            </div>
            <div class="col-xs-6">
                <select name="appointment" class="form-control" ng-model="currentAppointmentId">
                    <option ng-repeat="appointment in appointments" value="{{appointment._id}}">{{appointment.time}}
                    </option>
                </select>
            </div>
        </div>
        <button class="btn btn-success" type="submit" ng-click="bookAppointment(currentAppointmentId, currentService)">
            Book Appointment
        </button>
    </div>
    <div ng-if="message" class="alert alert-success">{{message}}</div>
</div>