<div class="customBG" ng-controller="UpcomingCustomerController">
    <div class="container">
        <h1 class="page-header">View Appointments for {{currentUser.username}}</h1>
        <div ng-repeat="appointment in appointments" >
            <div class="btn btn-primary">
                <div>Order ID: {{appointment._id}}</div>
                <div>Professional ID{{appointment.professionalId}}</div>
                <div>{{appointment.time}}</div>
                <div>{{appointment.status}}</div>

            </div>
        </div>
        </div>
    </div>