<div class="customBG">
    <div class="container">
    <h1 class="page-header">Login </h1>
        <form ng-controller="LoginController" ng-class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-2">
                    <label for="userName">Username:</label>
                </div>
                <div class="col-xs-9">
                    <input id="userName" class="form-control" type="text" placeholder="Username"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    <label for="password"> Password:</label>
                </div>
                <div class="col-xs-9">
                    <input id="password" class="form-control" type="password" placeholder="Password"/>
                </div>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-primary" type="button">Login As Salon Professional</button>
            </div>
        </form>
    </div>
</div>