<div class="customBG">
    <div class="container">
    <h1 class="page-header">Profile</h1>
        <form ng-controller="ProfessionalProfileController" class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-2">
                    <label for="userName">Username :</label>
                </div>
                <div class="col-xs-5">
                    <input ng-model="user.username" id="userName" class="form-control" type="text" placeholder="Username"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    <label for="password"> Password :</label>
                </div>
                <div class="col-xs-5">
                    <input ng-model="user.password" id="password" class="form-control" type="password" placeholder="Password"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    <label for="firstName">First Name :</label>
                </div>
                <div class="col-xs-5">
                    <input ng-model="user.firstName" id="firstName" class="form-control" type="text" placeholder="First Name"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    <label for="lastName">Last Name :</label>
                </div>
                <div class="col-xs-5">
                    <input ng-model="user.lastName" id="lastName" class="form-control" type="text" placeholder="Last Name"/>
                </div>
            </div>
            <div class="col-xs-2">
                <button ng-click="update(user)"class="btn btn-primary" type="button">Update</button>
            </div>
        </form>
    </div>
</div>
